@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-padding: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

/* Utilities */

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(105, 104, 104);
}

/* Nav bar */

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 200px;
  height: 50px;
}

/* .flex li {
  margin-right: 2rem;
} */

.hover-link i {
  display: flex;
  justify-content: center;
}


.vl{
  border-left: 0.5px solid rgb(105, 104, 104);
  height: 2.5rem;
}

.dress-hover{
  transition: 0.2s ease-in-out;
  margin-right: 2rem;
}

.dress-hover :hover{
  color: rgb(41, 40, 40);
}

.primary-button{
  margin-left: 5px;    
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(69, 69, 69);
  transition: 0.2s ease-in-out;
}

.primary-button:hover{
  background-color: rgb(246, 245, 245);
  border-radius: 50px;
  box-shadow: none;
}

.secondary-button{  
  margin-left: 5px;  
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid rgb(0, 124, 240);
  border-radius: 50px;
  color: rgb(0, 124, 240);
  transition: 0.2s ease-in-out;
}

.secondary-button:hover{
  background-color: rgb(213, 233, 251);
}


/* Login Banner */
