@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-padding: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

/* Utilities */

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(105, 104, 104);
}

/* Nav bar */

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 200px;
  height: 50px;
}

.flex li {
  margin-right: 2rem;
}

.hover-link i {
  display: flex;
  justify-content: center;
}

.primary-button{
    border-left: 2px solid rgb(105, 104, 104);
    padding-left: 2rem;    
    height: 1rem;
}